.muggle{
    color: #3b3b3b;
    text-align: center;
    margin-top: 180px;
}

body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

.base{
    width: 100%;
    color: #000;
    position: absolute;
}

header{
    background-color: black;
    height: 10%;
    color: white;
    position: sticky;
    top: 0;
    opacity: 70%;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
    z-index: 2;
}

footer{
    background-color: black;
    height: 100px;
    color: white;
    text-align: center;
    font-size: large;
    padding: 1em;
    padding-top: 100px;
    margin-bottom: 0px;
}

nav ul a{
    list-style: none;
    padding: 0;
    color: aliceblue;
    text-decoration: none;
}

nav ul li {
    display: flex;
    margin-right: 1em;
    color: rgb(255, 255, 255);
    display: inline-flex;
    margin: 70px;
    margin-top: -80px;
    font-size: large;
    text-decoration: none;
    float: right;
    
}

nav ul a:hover{
    color: rgb(192, 150, 36);
    font-size: x-large;
}

.logo{
    opacity: 130%;
}
.logo:hover{
    height: 130px;
    width: 240px;
    opacity: 130%;
}

.castle{
    margin-top: -200px;
    width: 100%;
}

#desc{
    height: 45%;
    width: 60%;
    background-color: #000;
    color: #ffffff;
    opacity: 100%;
    padding: 3em;
    text-align: justify;
    padding: 2em;
    float: left;
    margin-top: -420px;
    margin-left: 225px;
    opacity: 70%;
    box-shadow: 0 0 15px black;
    border-radius: 30px;
}

#house{
    height: 970px;
    background-color: #000;
    z-index: 2;
    font-size:40px;
    color: #ffffff;
    margin-top: -100px;
    text-align: center;
}

#gryffindor{
    height: 300px;
    width: 270px;
    margin-left: 250px;
    background-color: #700d1f;
    border-radius: 40px;
    float: left;
}

#slytherin{
    height: 300px;
    width: 270px;
    margin-right: 250px;
    background-color: #104734    ;
    border-radius: 40px;
    float: right;
}

#hufflepuff{
    height: 300px;
    width: 270px;
    margin-left: 250px;
    margin-top: 100px;
    background-color: #eaab20    ;
    border-radius: 40px;
    float: left;
}

#ravenclaw{
    height: 300px;
    width: 270px;
    margin-right: 250px;
    margin-top: 100px;
    background-color: #014d7f;
    border-radius: 40px;
    float: right;
}

.imgh:hover{
    height: 270px;
    width: 210px;
    opacity: 120%;
}

#gryffindor:hover{
    height: 320px;
    width: 280px;
    opacity: 80%;
    margin-top: -20px;
    margin-left: 230px;
}

#slytherin:hover{
    height: 320px;
    width: 280px;
    opacity: 80%;
    margin-top: -20px;
    margin-right: 230px;
}

#hufflepuff:hover{
    height: 320px;
    width: 280px;
    opacity: 80%;
    margin-top: 90px;
    margin-left: 220px;
}

#ravenclaw:hover{
    height: 320px;
    width: 280px;
    opacity: 80%;
    margin-top: 90px;
    margin-right: 220px;
}

.acceptance{
    height: 500px;
    float: left;
    width: 26.4%;
}

.acceptance1{
    float: left;
    background-color: #000;
    height: 480px;
    width: 54.65%;
    color: #ffffff;
    font-size: xx-large;
    padding-left: 50px;
    padding-top: 20px;
}

.acceptance2{
    float: left;
    background-color: #000;
    height: 500px;
    width: 15%;
    
}

.bar{
    width: 100%;
    height: 50px;
    background-color: #000;
    float:left ;
}


.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }

  .text{
    margin-top: -40px;
    margin-left: -40%;
    font-size: x-large;
    color: #ffffff;
    opacity: 70%;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    margin-left: -130px;
    margin-top: 600px;
    font-size: x-large;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    height: 15px;
    width: 15px;
    margin-top: -100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline;
    transition: background-color 2s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

.classes{
    height: 100px;
    background-color: #000;
    margin-top: -11px;
    color: rgb(192, 150, 36);
    font-size: 40px;
    font-weight: bold;
    padding-top: 30px;
    padding-top: -20px;
}

.classed {
    height: 380px;
    background-color: #000;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    margin-top: -20px;
    font-size: x-large;
}

.classes ul{
 margin-left: -50px;
}

.hhh{
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-left: 70%;
}

.hhh:hover{
    color: #eaab20;
    font-size: 50px;
    margin-left: 360px;

}

.classed ul li{
    padding: 20px;
    list-style: none;
    margin-left: -3%;
}

.classed ul li a{
    color: #ffffff;
    text-decoration: none;
}

.classed ul li a:hover{
    color: rgb(192, 150, 36);
    font-size: xx-large; 
}

.founderimg{
    width: 100%;
}

.histf{
    border-radius: 30px;
    text-align: center;
    float: left;
    background-color: #000;
    height: 250px;
    width: 600px;
    color: #ffffff;
    font-size: 40px;
    opacity: 70%;
    margin-top: -400px;
    padding-top: 30px;
    margin-left: 25%;
    padding: 10px;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: #000;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(232, 170, 23); 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #e7cc17; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(#700d1f, #104734, #eaab20 , #014d7f); 
  }

.alumni{
    width: 100%;
    height: 320px;
    background-color: #000;
    padding: 20px;
    margin-top: -10px;
    
}

.alumni a{
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-left: 420px;
    padding-top: 40px;
}

.alumni a:hover{
    color: #eaab20;
    font-size: 50px;
    margin-left: 360px;
}

.yes{
    color: #000;
    margin-left: 100px;
    float: left;
    text-decoration: none;
    margin-top: 20px;
    height: 40px;
    width: 90px;
    font-size: 20px;
}

button{
    height: 40px;
    width: 90px;
    font-size: 20px;
}

.no{
    color: #000;
    text-decoration: none;
    margin-left: 500px;
    margin-top: 20px;
    float: left;
    height: 40px;
    width: 90px;
    font-size: 20px;
}

.maybe{
    color: #000;
    text-decoration: none;
    margin-left: -210px;
    margin-top: 90px;
    opacity: 10%;
    float: left;
    height: 40px;
    width: 140px;
    font-size: 20px;
}

.umli{
    color: #ffffff;
}

.umli ul{
    margin-left: -60px;
    list-style: none;
    font-size: x-large;
    text-align: center;
}

.umli ul li{
    padding: 20px;
}

hr{
    border-style: dashed;
    opacity: 20%;
    width: 120%;
}

.hdd{
    font-size: large;
}

.ht{
    margin-top: 6px;
}

#gf img , #sl img , #hf img , #rv img{
    width: 100%;
    margin-top: -200px;
}

.exp-g{
    width: 100%;
    height: 600px;
    background-color: #630c1c;
    margin-top: -180px;
}

.exp-r{
    width: 100%;
    height: 600px;
    background-color: #014d7f;
    margin-top: -180px;
}

.exp-s{
    width: 100%;
    height: 600px;
    background-color: #104734;
    margin-top: -180px;  
}

.exp-h{
    width: 100%;
    height: 600px;
    background-color: #eaab20;
    margin-top: -180px;
}

.gd , .sd , .hd , .rd{
    color: #000000;
    font-size: large;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    margin-top: -350px;
    margin-bottom: 100px;
}

.gg , .ss , .hh , .rr{
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    color: #ffffff;
    margin-top: -200px;
}

.almg , .alms , .almh , .almr{
    background-color: #000;
    width: 140%;
    height: 380px;
    filter: blur(20px);
    margin-left: -30px;
    margin-top: -50px;
}


.gs , .sls , .hhs , .rs{
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    padding: 40px;
    margin-top: -370px;
    position: absolute;
    margin-left: 500px;
}

.divider{
    height: 100px;
    width: 100%;
    background-color: #000;
    margin-top: -50px;
}


#house-1 a img{
    width: 25%;
    height: 600px;
    margin-top: -200px;
    float: left;
    text-decoration: none;
    filter: grayscale(50%);
}

#house-1 a img:hover{
    filter: grayscale(0%);
    width: 30%;
    height: 600px;
    margin-left: -5%;

}

.blur{
    background-color: #000;
    width: 140%;
    height: 150px;
    filter: blur(20px);
    margin-left: -30%;
    margin-top: -80px;
    float: left;
}

.dividerh{
    height: 100px;
    width: 100%;
    background-color: #000;
    margin-top: -50px;
    float: left;
    color: #ffffff;
    text-align: center;
    font-size: large;
    padding-top: 200px;
}

.h1{
    color: #ffffff;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 400px;
    margin-left: 35%;
    position: absolute;
}

#house-1 p{
    color: #ffffff;
    text-align: center;
    margin-top: 470px;
    padding-left: 150px;
    padding-right: 150px;
    position: absolute;
}

.yyy{
    color: #ffffff;
    font-size: large;
    text-align: left;
    margin-top: 150px;
    margin-left: 570px;
    position: absolute;
    width: 280px;
}
 
#hjk{
    width: 100%;
    height: 340px;
    background-color: #000;
    margin-top: -200px;
}

.class1{
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-top: -100px;
    margin-left: 35%;
    margin-bottom: 30px;
}

.clss ul li{
    padding: 20px;
    list-style: none;
    margin-left: -5%;
    font-size: x-large;
}

.clss ul li a{
    color: #ffffff;
    text-decoration: none;
}

.clss ul li a:hover{
    color: rgb(192, 150, 36);
    font-size: xx-large; 
}

.clsd{
    background-color: #000;
    height: 300px;
    margin-top: -25px;
    padding-bottom: 20px;
}

.corec{
    background-color: #000;
    height: 2700px;
    margin-top: -300px;
    padding-top: 300px;
}

.corec article{
    background-color: #eaab20;
    padding: 1em;
    margin: 40px;
    border-radius: 40px;
    color: #000;
}

.corec article h1{
    margin-left: 40px;
}

.h12{
    color: #f2f2f2;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.imgc{
    margin-top: -20px;
}

.ty{
    background-color: #000;
    height: 1800px;
    margin-top: -300px;
    padding-top: 300px;
}

.ty article{
    background-color: #eaab20;
    padding: 1em;
    margin: 40px;
    border-radius: 40px;
    color: #000;
}

.ty article h1{
    margin-left: 40px;
}

.sy{
    background-color: #000;
    height: 950px;
    margin-top: -300px;
    padding-top: 300px;
}

.sy article{
    background-color: #eaab20;
    padding: 1em;
    margin: 40px;
    border-radius: 40px;
    color: #000;
}

.sy article h1{
    margin-left: 40px;
}

.xt{
    background-color: #000;
    height: 400px;
    margin-top: -300px;
    padding-top: 300px;
}

.xt article{
    background-color: #eaab20;
    padding: 1em;
    margin: 40px;
    border-radius: 40px;
    color: #000;
}

.xt article h1{
    margin-left: 40px;
}

.acc{
    background-color: #000;
    height: 2000px;
    margin-top: -300px;
    padding-top: 300px;
}

.acc article{
    background-color: #eaab20;
    padding: 1em;
    margin: 40px;
    border-radius: 40px;
    color: #000;
}

.acc article h1{
    margin-left: 40px;
}

.founderimgs{
    width: 100%;
    margin-top: -172px;
}

.sjrh{
    width: 120%;
    height: 300px;
    background-color: #000;
    margin-top: -5%;
    margin-left: -10%;
    filter: blur(10px);
    position: absolute;
}

.deviders{
    width: 100%;
    height: 2500px;
    background-color: #000;
}


.gx{
    padding: 1em;
    background-color: #700d1f;
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -2450px;
    position: absolute;
}

.sx{
    padding: 1em;
    background-color: #104734;
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -1850px;
    position: absolute;
}

.hx{
    padding: 1em;
    background-color: #eaab20;
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -1250px;
    position: absolute;
}

.rx{
    padding: 1em;
    background-color: #014d7f;
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -600px;
    position: absolute;
}

.sm ul{
    list-style: none;
    text-align: center;
    background-color: #e7cc17;
    border-radius: 30px;
    position: absolute;
    text-align: center;
    margin-left: 250px;
    margin-right: 40px;
    margin-top: 400px;
    width: 700px;
    height: 500px;
    padding-top: 50px;
}

.sm ul li{
    margin: 10px;
    font-size: large;
}

.sm{
    background-color: #000;
    width: 100%;
    height: 1000px;
    margin-top: -170px;
}

.h321{
    margin-left: 350px;
    font-weight: bold;
    font-size: 50px;
    color: #f2f2f2;
    margin-top: 200px;
    position: absolute;
}